.fz_16 {
  font-size: 16px;
}
.content.white-text {
  font-size: 14px;
}
.banner-content .line {
  display: block;
  width: 0;
  height: 3px;
  background: #03a9f4;
}
.arrow-headers {
  position: relative;
  left: -10px;
}
